@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');

/* GRANICUS MY.NORTHDEVON CSS UPGRADE PROJECT


THIS IS A WORK IN PROGRESS CSS FILE AS OF 23/01/24

*/

/*  fonts added as of 23/01/24

NOTES and next TO DO:

- Fonts have been added and reflect our current site but not finished
	However they are not reflecting the same font weight as our headers and other text and font styling on our live site which we need to check and add here below

- Spacing of text and such is not the same as our live

- font weight = boldness */





/* FONTS */


body, html {
	font-family: 'Source Sans Pro', sans-serif !important;
	font-weight: 400;
	font-size: 1rem !important;
}

h1 {font-weight: 700!important;
    line-height: 1.5!important}

/* END OF FONTS */

/* NAV BAR COLORS */

.navbar-inverse {
    background-color: red !important; /* #005E7D */
    border: none!important;
}



/* TEXT IN GREY BOX BELOW H1 */

p.lead {
	font-weight:500!important
}





/* LIST OF LANDING PAGE LINKS */

a.govuk-list-landing-link {
    font-size: 21px;
    font-weight: 600;
    text-decoration: underline;
}

p.govuk-list-landing-text {
    font-size: 16px;
}

/* END OF LIST OF LANDING PAGE LINKS */



/* FOOTER AREA */

/* FOOTER BORDER LINE */

section#main-content {
    margin-bottom: auto!important;
}

/* FOOTER BORDER PADDING ABOVE AND BELOW SOCIAL LINKS */

div#footer {
    padding:40px 0px
}

/*


/*

BASE.CSS FROM MAIN NDC SITE

*/


/*
  @file Base/element level theming.

  This file sets up default CSS for elements, such as links as
  well as font sizes, vertical rhythm, etc.
*/

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin-top: 0; /* Removing top margin, for better vertical rhythm layout */
}

body {
  margin: 0;
  color: var(--color-text);
  font-family: var(--font-primary);
  font-size: var(--font-size);
  line-height: var(--line-height);
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  body {
    scroll-behavior: auto;
  }
}

.dialog-off-canvas-main-canvas {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  /* To give us a sticky footer. */
  margin-bottom: auto;
}

a {
  transition: var(--transition-time);
 /* color: var(--color-link); incorrect color for some reason? 06/02 */
}

a:hover {
  text-decoration-thickness: max(3px, 0.1875rem, 0.12em);
}

a:visited {color: var(--color-link);
}

.navbar a:visited {color: white!important;
}

a:not([class*="toolbar"]):focus {
  text-decoration: none;
  color: var(--color-black);
  outline: 3px solid transparent;
  background-color: var(--color-focus);
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  box-shadow: 0 -2px var(--color-focus), 0 4px var(--color-black);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.heading {
  margin-bottom: var(--vertical-rhythm-spacing);
  font-family: var(--font-secondary);
}

h1,
.h1 {
  color: var(--heading-1-color);
  font-family: var(--font-heading-1);
  font-size: var(--font-size-h1);
  font-weight: var(--heading-1-font-weight);
  line-height: var(--heading-1-line-height);
}

h2,
.h2 {
  color: var(--heading-2-color);
  font-family: var(--font-heading-2);
  font-size: var(--font-size-h2);
  font-weight: var(--heading-2-font-weight);
  line-height: var(--heading-2-line-height);
}

h3,
.h3 {
  color: var(--heading-3-color);
  font-family: var(--font-heading-3);
  font-size: var(--font-size-h3);
  font-weight: var(--heading-3-font-weight);
  line-height: var(--heading-3-line-height);
}

h4,
.h4 {
  color: var(--heading-4-color);
  font-family: var(--font-heading-4);
  font-size: var(--font-size-h4);
  font-weight: bold;
  font-weight: var(--heading-4-font-weight);
  line-height: var(--heading-4-line-height);
}

h5,
.h5 {
  color: var(--heading-5-color);
  font-family: var(--font-heading-5);
  font-size: var(--font-size-h5);
  font-weight: var(--heading-5-font-weight);
  font-variant: small-caps;
  line-height: var(--heading-5-line-height);
}

h6,
.h6 {
  text-decoration: underline;
  color: var(--heading-6-color);
  font-family: var(--font-heading-6);
  font-size: var(--font-size-h6);
  font-weight: var(--heading-6-font-weight);
  font-variant: small-caps;
  line-height: var(--heading-6-line-height);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p,
ul,
ol,
pre,
table,
blockquote {
  margin-bottom: var(--vertical-rhythm-spacing);
}

ul ul,
ol ol,
ul ol,
ol ul {
  margin-bottom: 0;
}

sub,
sup {
  position: relative;
  vertical-align: baseline;
  line-height: 0;
}

sup {
  top: -0.5rem;
}

sub {
  bottom: -0.25rem;
}

table {
  width: 100%;
  text-align: left;
  border: var(--table-border);
  border-collapse: collapse;
}

thead th {
  padding: var(--table-padding);
  background-color: var(--table-bg-color);
}

tbody td {
  padding: var(--table-padding);
}

tbody tr {
  border-bottom: var(--table-border);
}

input,
select,
option,
textarea,
button {
  font-family: var(--font-primary);
}



/*

VARAIABLES USED ON MAIN NDC SITE

  @file This is our file to create the variables that will be used across the theme.

  To override these in your sub-theme, just create a new variables.css file and
  library, and add that to your theme.info.yml file.

  We are adding these to body instead of :root so we can more easily override
  them in the future. For example if we create a theme setting to add an inline
  style for --color-accent: red;, or if we used JS to add it to the body element.
*/
body {
  /* Widths and Spacing */
  --width-mega: 90rem; /* 1440px */
  --width-extra-large: 73.75rem; /* 1180px */
  --width-large: 60rem;
  --width-medium: 48rem;
  --width-small: 30rem;
  --width-container: var(
  --width-extra-large);
  --width-restricted-width-section: var(
  --width-medium);
  --spacing-smallest: calc(var(
  --spacing) * 0.25);
  --spacing-smaller: calc(var(
  --spacing) * 0.5);
  --spacing-small: calc(var(
  --spacing) * 0.75);
  --spacing: 1rem;
  --spacing-large: calc(var(
  --spacing) * 1.5);
  --spacing-larger: calc(var(
  --spacing) * 2);
  --spacing-largest: calc(var(
  --spacing) * 2.5);
  --spacing-mega: calc(var(
  --spacing) * 3);
  --spacing-padding-horizontal: var(
  --spacing);
  --line-height: 1.5;
  --vertical-rhythm-spacing: calc(var(
  --line-height) * 1rem);

  /* Colours */
  /*
    Colours Defined
    In this section, we define the colours available in our theme.
    We should not refer to these directly in our CSS however. Instead,
    we use the names at our "Colours Applied" section.
  */
  --color-accent: #652c95;
  --color-accent-2: #ffe146;
  --color-green: #048a04;
  --color-red: #e4251b;
  --color-orange: #ed7522;
  --color-yellow: #fd0;
  --color-blue: #297bbb;
  /*
    Grey Scale
    In this section, we define our greys; let's not have 50 shades
  */
  --color-white: #fff;
  --color-grey-lightest: #f9f9f9;
  --color-grey-lighter: #eaeaea;
  --color-grey-light: #cecfd0;
  --color-grey-medium: #b1b4b6;
  --color-grey-dark: #505a5f;
  --color-black: #0b0c0c;
  /*
    Colours Applied
    In this section, we "apply" our colours.
  */
  --color-info: var(
  --color-blue);
  --color-success: var(
  --color-green);
  --color-danger: var(
  --color-red);
  --color-warning: var(
  --color-orange);
  --color-minor: var(
  --color-yellow);
  --color-link: var(
  --color-accent);
  --color-focus: var(
  --color-yellow);

  /* Fonts */
  /*
    We choose basic fonts that most people have in browser cache from visiting other websites.
    This will help with page speed, rather than calling fonts from Google Fonts or somewhere.
  */
  --font-primary: roboto, oxygen, ubuntu, cantarell,
  "Open Sans", "Helvetica Neue", sans-serif;
  /* --font-secondary: 'Source Sans Pro', sans-serif !important; */
  --font-heading-1: var(
  --font-secondary);
  --font-heading-2: var(
  --font-secondary);
  --font-heading-3: var(
  --font-secondary);
  --font-heading-4: var(
  --font-secondary);
  --font-heading-5: var(
  --font-secondary);
  --font-heading-6: var(
  --font-secondary);
  /*
    Font sizes based on vertical rhythm of:
    - Font size: 16px;
    - Scale factor: 1.303
    - Details: https://www.gridlover.net/try
  */
  --font-size: 1rem;
  --font-size-smallest: calc(var(
  --font-size) * 0.3);
  --font-size-smaller: calc(var(
  --font-size) * 0.5);
  --font-size-small: calc(var(
  --font-size) * 0.75);
  --font-size-medium: calc(var(
  --font-size) * 1);
  --font-size-large: calc(var(
  --font-size) * 1.3125);
  --font-size-larger: calc(var(
  --font-size) * 1.6875);
  --font-size-largest: calc(var(
  --font-size) * 2.875);
  --font-size-h1: clamp(var(
  --font-size-larger), 10vw, var(--font-size-largest));
  --font-size-h2: clamp(var(
  --font-size-large), 8vw, var(--font-size-larger));
  --font-size-h3: clamp(var(
  --font-size-medium), 6vw, var(--font-size-large));
  --font-size-h4: var(
  --font-size-medium);
  --font-size-h5: var(
  --font-size-medium);
  --font-size-h6: var(
  --font-size-medium);

  /* Heading colours */
  --color-text: var(
  --color-black);
  --heading-1-color: var(
  --color-text);
  --heading-2-color: var(
  --color-text);
  --heading-3-color: var(
  --color-text);
  --heading-4-color: var(
  --color-text);
  --heading-5-color: var(
  --color-text);
  --heading-6-color: var(
  --color-text);

  /* Heading line-height */
  --heading-1-line-height: var(
  --line-height);
  --heading-2-line-height: var(
  --line-height);
  --heading-3-line-height: var(
  --line-height);
  --heading-4-line-height: var(
  --line-height);
  --heading-5-line-height: var(
  --line-height);
  --heading-6-line-height: var(
  --line-height);

  /* Heading font-weight */
  --heading-font-weight: bold;
  --heading-1-font-weight: var(
  --heading-font-weight);
  --heading-2-font-weight: var(
  --heading-font-weight);
  --heading-3-font-weight: var(
  --heading-font-weight);
  --heading-4-font-weight: var(
  --heading-font-weight);
  --heading-5-font-weight: var(
  --heading-font-weight);
  --heading-6-font-weight: var(
  --heading-font-weight);

  /* Borders */
  --border-width: 1px;
  --border-width-large: 5px;
  --border-color: var(
  --color-grey-light);
  --border-color-dark: var(
  --color-grey-dark);
  --border-color-alert: var(
  --color-black);
  --border-style: solid;
  --border-radius: var(
  --spacing-smallest);
  --border: var(
  --border-width) var(--border-style) var(--border-color);
  --border-large: var(
  --border-width-large) var(--border-style) var(--border-color);
  --border-dark: var(
  --border-width) var(--border-style) var(--border-color-dark);

  /* Animation */
  --transition-time: 0.3s;
}

/*
  Applying Variables

  By taking this approach of setting variables above, and then applying them here
  to specific items, we can easily override these in sub-themes to change items
  one-by-one without the CSS cascade affecting us (unless we want it to - in that case,
  override the defined variables above instead).
*/
body {

  /* Grid */
  --grid-column-spacing: var(--spacing);

  /* Breadcrumbs */
  --breadcrumbs-background-color: var(--color-white);
  --breadcrumbs-border: var(--border);
  --breadcrumbs-divider: "»";
  --breadcrumbs-font-size: var(--font-size-medium);
  --breadcrumbs-padding-vertical: var(--spacing-small);
  --breadcrumbs-padding-horizontal: 0;
  --breadcrumbs-link-color: var(--color-link);
  --breadcrumbs-spacing-bottom: var(--vertical-rhythm-spacing);

  /* Header Items */
  --section-spacing-vertical-header: var(--spacing);
  --color-section-header-bg: var(--color-accent);
  --header-link-color: var(--color-white);
  --header-services-button-border: var(--border);
  --header-services-button-border-color: var(--color-white);
  --header-services-button-color: var(--color-white);
  --header-services-button-bg-color: transparent;
  --header-services-button-bg-color-hover: var(--color-accent);
  --header-services-button-color-hover: var(--color-white);
  --header-logo-width: 10rem;
  --color-slogan: var(--color-white);
  --header-search-button-color: var(--color-white);
  --header-search-button-bg-color: var(--color-accent);
  --header-search-button-color-hover: var(--color-accent);
  --header-search-button-bg-color-hover: var(--color-white);
  --header-search-input-border: none;

  /* Secondary Menu */
  --secondary-menu-bg-color-first: var(--color-accent);
  --secondary-menu-bg-color-second: var(--color-white);
  --secondary-menu-link-color: var(--color-black);
  --secondary-menu-link-color-focus: var(--color-black);
  --secondary-menu-column-count: 3;

  /* Footer Items */
  --color-section-pre-footer-bg: var(--color-grey-dark);
  --color-section-footer-bg: var(--color-white);
  --color-section-post-footer-bg: var(--color-white);
  --section-spacing-vertical-pre-footer: var(--spacing-largest);
  --section-spacing-vertical-footer: var(--spacing);
  --section-spacing-vertical-post-footer: var(--spacing);
  --color-pre-footer-link: var(--color-white);
  --color-pre-footer-text: var(--color-white);
  --color-footer-link: var(--color-link);
  --color-footer-text: var(--color-text);
  --color-post-footer-link: var(--color-link);
  --color-post-footer-text: var(--color-text);

  /* Page Title */
  --page-title-border: var(--border);
  --page-title-width: var(--width-medium);
  --page-title-lede-font-size: var(--font-size-h3);

  /* Form Item Description Items */
  --form-item-description-bg-color: var(--color-grey-lightest);
  --form-item-description-border: var(--border);

  /* Input Elements */
  --input-padding-vertical: var(--spacing);
  --input-padding-horizontal: var(--spacing);
  --input-text-color: var(--color-white);
  --input-text-color-hover: var(--color-accent);
  --input-icon-color: var(--input-text-color);
  --input-icon-color-hover: var(--color-accent);
  --input-border-color: var(--color-grey-medium);
  --input-border-color-hover: var(--color-grey-medium);
  --input-bg-color: var(--color-white);
  --input-bg-color-hover: var(--color-grey-light);
  --input-border-radius: 0;
  --text-input-font-family: var(--font-primary);

  /* Checkbox Items */
  --checkbox-select-focus-color: var(--color-focus);
  --checkbox-select-outline-color: var(--color-black);

  /* Radio Items */
  --radio-select-focus-color: var(--color-focus);
  --radio-select-outline-color: var(--color-black);

  /* Button Elements (and button-styled links) */
  --button-padding-vertical: var(--spacing);
  --button-padding-horizontal: var(--spacing);
  --button-text-color: var(--color-white);
  --button-text-color-hover: var(--color-accent);
  --button-icon-color: var(--button-text-color);
  --button-icon-color-hover: var(--color-accent);
  --button-border-color: var(--color-accent);
  --button-bg-color: var(--color-accent);
  --button-bg-color-hover: var(--color-white);
  --button-font-family: var(--font-primary);
  --button-border-radius: 0;

  /* File Upload Items */
  --file-upload-border: var(--border);
  --file-upload-border-left-size: var(--border-width-large);
  --file-upload-border-color: var(--color-accent);
  --file-upload-bg-hover-color: var(--color-accent);
  --file-upload-text-hover-color: var(--color-white);

  /* Fieldset Elements */
  --fieldset-border-color: var(--color-grey-medium);

  /* Option Elements */
  --option-bg-color: var(--color-accent);
  --option-color: var(--color-white);
  --option-bg-hover-color: var(--color-white);
  --option-hover-color: var(--color-accent);

  /* Sidebar Items */
  --sidebar-exposed-form-bg-color: var(--color-grey-light);
  --sidebar-exposed-form-padding-vertical: var(--spacing-larger);
  --sidebar-exposed-form-padding-horizontal: var(--spacing-larger);
  --sidebar-exposed-form-item-spacing: var(--spacing);

  /* Guide Navigation */
  --section-spacing-vertical-guide-nav: calc(var(--spacing-large) + 1rem); /* 1rem to account for padding on left of bullets */
  --section-spacing-horizontal-guide-nav: var(--spacing-large);
  --guide-nav-column-count: 3;

  /* IA Block */
  --ia-block-bg-color: var(--color-white);
  --ia-block-bg-color-promoted: var(--color-white);

  /* Link component */
  --link-icon-margin: var(--spacing-smaller);

  /* Link and summary component */
  --link-and-summary-title-icon-margin: var(--spacing-smaller);

  /* Featured Subsite */
  --featured-subsite-bg-color: var(--color-grey-light);

  /* Box Links */
  --box-link-border: var(--border-dark);
  --box-link-content-spacing: var(--spacing-small);

  /* Fact Box */
  --fact-box-bg-light: var(--color-grey-light);
  --fact-box-bg-dark: var(--color-grey-dark);
  --fact-box-bg-accent: var(--color-accent);
  --fact-box-padding-vertical: var(--spacing-largest);
  --fact-box-padding-horizontal: var(--spacing-large);
  --fact-box-title: var(--font-size-large);
  --fact-box-fact: var(--font-size-largest);
  --fact-box-border: var(--border-large);
  --fact-box-border-color: var(--color-grey-medium);
  --fact-box-red: red;
  --fact-box-blue: blue;
  --fact-box-text-color-accent: var(--color-white);

  /* Image with Caption */
  --image-with-caption-border: var(--border);
  --image-with-caption-border-color: var(--color-grey-light);
  --image-with-caption-padding: var(--spacing);
  --image-with-caption-bg-color: var(--color-grey-light);

  /* Quote */
  --quote-padding: var(--spacing-larger);
  --quote-padding-left: var(--spacing-larger);
  --quote-border: var(--border-large);
  --quote-border-color: var(--color-accent);
  --quote-bg-color: var(--color-grey-lighter);
  --quote-author-color: var(--color-accent);

  /* Featured Teasers */
  --featured-teaser-border: var(--border);
  --featured-teaser-content-padding: var(--spacing);

  /* Documents */
  --table-border: var(--border);
  --table-padding: var(--spacing);
  --table-bg-color: var(--color-grey-light);

  /* Tabs */
  --tabs-border: var(--border);
  --tabs-border-color: var(--color-grey-dark);
  --tabs-text-color: var(--color-grey-dark);
  --tabs-button-bg-color: var(--color-grey-light);
  --tabs-button-active-color: var(--color-white);
  --tabs-button-font-size: var(--font-size);
  --tabs-button-font-family: var(--font-primary);

  /* Links styled like buttons */
  --button-link-padding: var(--spacing);
  --button-link-bg-color: var(--color-accent);
  --button-link-color: var(--color-white);
  --button-link-bg-color-hover: var(--color-accent);
  --button-link-color-hover: var(--color-white);

  /* Step-by-Step */
  --step-by-step-relationship-border-color: var(--color-accent);
  --step-by-step-part-of-color: var(--color-accent);
  --step-by-step-active-item-color: var(--color-accent);
  --step-by-step-active-bullet-bg-color: var(--color-accent);
  --step-by-step-active-bullet-border-color: var(--color-accent);
  --step-by-step-line-joining-items-border: var(--border);
  --step-by-step-line-joining-items-color: var(--color-accent);
  --step-by-step-nav-block-width: var(--width-medium);

  /* Call-out Box */
  --call-out-box-padding: var(--spacing-large);
  --call-out-box-link-padding: var(--spacing-smaller);
  --call-out-box-bg-color: var(--color-accent);
  --call-out-box-text-color: var(--color-white);
  --call-out-box-title-color: var(--call-out-box-text-color);

  /* Service Statuses */
  --service-statuses-padding: var(--spacing);
  --service-statuses-container-bg-color: var(--color-accent);
  --service-statuses-container-text-color: var(--color-white);
  --service-statuses-list-bg-color: var(--color-white);
  --service-statuses-list-spacing: var(--spacing-large);
  --service-statuses-list-border: var(--border);
  --service-statuses-list-border-color: var(--color-accent);

  /* Banner */
  --banner-content-width: var(--width-medium);
  --banner-content-margin: calc(var(--spacing-largest) * 2);
  --banner-content-padding: var(--spacing-largest);
  --banner-content-bg-color: var(--color-accent);
  --banner-content-text-color: var(--color-white);
  --banner-title-size: var(--font-size-larger);

  /* Teaser View Mode */
  --teaser-image-with: 33%;
  --teaser-featured-content-padding: var(--spacing-larger);
  --teaser-featured-height: 100%;
  --teaser-featured-border: var(--border);
  --teaser-featured-border-color: var(--border-color-dark);

  /* News */
  --newsroom-featured-bottom-space: var(--spacing-largest);
  --news-category-spacing: var(--spacing);

  /* Search Results */
  --sitewide-search-header-container-padding-horizontal: var(--spacing);
  --sitewide-search-header-container-padding-vertical: var(--spacing);
  --search-results-item-spacing: var(--spacing-largest);
  --search-results-list-item-border: var(--border);
  --search-results-list-item-marker-color: transparent;

  /* WYSIWYG Styles */
  --btn-start-bg-color: var(--color-success);
  --btn-start-bg-color-hover: var(--color-white);
  --btn-start-color: var(--color-white);
  --btn-start-color-hover: var(--color-success);
  --btn-start-padding-horizontal: var(--spacing);
  --btn-start-padding-vertical: var(--spacing-smaller);
  --btn-start-border: var(--border);
  --btn-start-border-color-hover: var(--btn-start-bg-color);
  --btn-start-icon: "\203A";
  --btn-start-icon-size: var(--font-size-largest);
  --btn-start-icon-top: -3px;
  --external-link-icon-color: var(--color-accent);

  /* Alert Banner */
  --alert-banner-bg-color: var(--color-success);
  --alert-banner-bg-color-minor: var(--color-minor);
  --alert-banner-bg-color-major: var(--color-danger);
  --alert-banner-bg-color-notable-person: var(--color-black);
  --alert-banner-color: var(--color-white);
  --alert-banner-title-color-notable-person: inherit;
  --alert-banner-title-color-announcement: inherit;
  --alert-banner-title-color-minor: inherit;
  --alert-banner-title-color-major: inherit;
  --alert-banner-focus-color: var(--color-black);
  --alert-banner-minor-color: var(--color-black);
  --alert-banner-minor-border-color: var(--color-black);
  --alert-banner-close-button-bg-color: var(--color-black);
  --alert-banner-close-button-color: var(--color-white);
  --alert-banner-close-button-border-color: var(--color-white);
  --alert-banner-close-padding-vertical: var(--spacing-smaller);
  --alert-banner-close-padding-horizontal: var(--spacing-small);
  --alert-banner-color-minor: var(--color-black);
  --alert-banner-close-border: var(--border);
  --alert-banner-close-border-color: var(--color-white);
  --alert-banner-inner-margin-vertical: 0;
  --alert-banner-inner-margin-horizontal: 0;
  --alert-banner-inner-padding-vertical: var(--spacing);
  --alert-banner-inner-padding-horizontal: 0;

  /* Leaflet Mapping */
  --leaflet-map-outline-stroke-colour: #38f;

  /* Blogs */
  --blog-author-image-width: calc(var(--teaser-image-with)/2);
  --blog-author-content-margin: var(--spacing-largest);

  /* Page Sections */
  --color-page-section-background-color-1: var(--color-accent);
  --color-page-section-background-color-1-text-color: var(--color-white);
  --color-page-section-background-color-1-link-color: var(--color-white);
  --color-page-section-background-color-2: var(--color-accent-2);
  --color-page-section-background-color-2-text-color: var(--color-black);
  --color-page-section-background-color-2-link-color: var(--color-black);
  --color-page-section-background-color-3: var(--color-grey-lightest);
  --color-page-section-background-color-3-text-color: var(--color-black);
  --color-page-section-background-color-3-link-color: var(--color-black);
  --color-page-section-background-color-4: var(--color-accent);
  --color-page-section-background-color-4-text-color: var(--color-white);
  --color-page-section-background-color-4-link-color: var(--color-white);
  --color-page-section-background-color-5: var(--color-accent);
  --color-page-section-background-color-5-text-color: var(--color-white);
  --color-page-section-background-color-5-link-color: var(--color-white);
  --color-page-section-background-color-6: var(--color-accent);
  --color-page-section-background-color-6-text-color: var(--color-white);
  --color-page-section-background-color-6-link-color: var(--color-white);
  /* Page Sections - Newsroom Teasers */
  --color-page-section-background-color-1-newsroom-teaser-background-color: var(--color-white);
  --color-page-section-background-color-1-newsroom-teaser-text-color: var(--color-black);
  --color-page-section-background-color-1-newsroom-teaser-link-color: var(--color-black);
  --color-page-section-background-color-2-newsroom-teaser-background-color: var(--color-white);
  --color-page-section-background-color-2-newsroom-teaser-text-color: var(--color-black);
  --color-page-section-background-color-2-newsroom-teaser-link-color: var(--color-black);
  --color-page-section-background-color-3-newsroom-teaser-background-color: var(--color-black);
  --color-page-section-background-color-3-newsroom-teaser-text-color: var(--color-white);
  --color-page-section-background-color-3-newsroom-teaser-link-color: var(--color-white);
  --color-page-section-background-color-4-newsroom-teaser-background-color: var(--color-white);
  --color-page-section-background-color-4-newsroom-teaser-text-color: var(--color-black);
  --color-page-section-background-color-4-newsroom-teaser-link-color: var(--color-black);
  --color-page-section-background-color-5-newsroom-teaser-background-color: var(--color-white);
  --color-page-section-background-color-5-newsroom-teaser-text-color: var(--color-black);
  --color-page-section-background-color-5-newsroom-teaser-link-color: var(--color-black);
  --color-page-section-background-color-6-newsroom-teaser-background-color: var(--color-white);
  --color-page-section-background-color-6-newsroom-teaser-text-color: var(--color-black);
  --color-page-section-background-color-6-newsroom-teaser-link-color: var(--color-black);
  /* Page Sections - Box Links */
  --color-page-section-background-color-1-box-link-border-color: var(--color-white);
  --color-page-section-background-color-1-box-link-background-color: var(--color-white);
  --color-page-section-background-color-1-box-link-text-color: var(--color-black);
  --color-page-section-background-color-1-box-link-link-color: var(--color-black);
  --color-page-section-background-color-2-box-link-border-color: var(--color-white);
  --color-page-section-background-color-2-box-link-background-color: var(--color-white);
  --color-page-section-background-color-2-box-link-text-color: var(--color-black);
  --color-page-section-background-color-2-box-link-link-color: var(--color-black);
  --color-page-section-background-color-3-box-link-border-color: var(--color-black);
  --color-page-section-background-color-3-box-link-background-color: var(--color-black);
  --color-page-section-background-color-3-box-link-text-color: var(--color-white);
  --color-page-section-background-color-3-box-link-link-color: var(--color-white);
  --color-page-section-background-color-4-box-link-border-color: var(--color-white);
  --color-page-section-background-color-4-box-link-background-color: var(--color-white);
  --color-page-section-background-color-4-box-link-text-color: var(--color-black);
  --color-page-section-background-color-4-box-link-link-color: var(--color-black);
  --color-page-section-background-color-5-box-link-border-color: var(--color-white);
  --color-page-section-background-color-5-box-link-background-color: var(--color-white);
  --color-page-section-background-color-5-box-link-text-color: var(--color-black);
  --color-page-section-background-color-5-box-link-link-color: var(--color-black);
  --color-page-section-background-color-6-box-link-border-color: var(--color-white);
  --color-page-section-background-color-6-box-link-background-color: var(--color-white);
  --color-page-section-background-color-6-box-link-text-color: var(--color-black);
  --color-page-section-background-color-6-box-link-link-color: var(--color-black);
  /* Page Sections - Featured Subsites */
  --color-page-section-background-color-1-featured-subsite-background-color: var(--color-grey-lightest);
  --color-page-section-background-color-1-featured-subsite-text-color: var(--color-black);
  --color-page-section-background-color-1-featured-subsite-link-color: var(--color-black);
  --color-page-section-background-color-2-featured-subsite-background-color: var(--color-grey-lightest);
  --color-page-section-background-color-2-featured-subsite-text-color: var(--color-black);
  --color-page-section-background-color-2-featured-subsite-link-color: var(--color-black);
  --color-page-section-background-color-3-featured-subsite-background-color: var(--color-black);
  --color-page-section-background-color-3-featured-subsite-text-color: var(--color-grey-lightest);
  --color-page-section-background-color-3-featured-subsite-link-color: var(--color-grey-lightest);
  --color-page-section-background-color-4-featured-subsite-background-color: var(--color-grey-lightest);
  --color-page-section-background-color-4-featured-subsite-text-color: var(--color-black);
  --color-page-section-background-color-4-featured-subsite-link-color: var(--color-black);
  --color-page-section-background-color-5-featured-subsite-background-color: var(--color-grey-lightest);
  --color-page-section-background-color-5-featured-subsite-text-color: var(--color-black);
  --color-page-section-background-color-5-featured-subsite-link-color: var(--color-black);
  --color-page-section-background-color-6-featured-subsite-background-color: var(--color-grey-lightest);
  --color-page-section-background-color-6-featured-subsite-text-color: var(--color-black);
  --color-page-section-background-color-6-featured-subsite-link-color: var(--color-black);
}


*/


/* 


ORIGINAL "nd self css" code below


______________________________________ */


/* Toolbar */

.navbar-inverse {
    background-color: red !important; /* #005E7D */
    height: 100px;
    border: 0px !important;
}

.navbar-nav>li {
	border-right: 2px solid;
	border-color: #005E7D;
}

.navbar-nav>li>a {
	color: #FFF !important;
}

.navbar-right {
	background-color: #98ab2a;
}


.dropdown-toggle {
	background-color: #98ab2a !important;	
}

@media (max-width: 767px) {
	.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    	color: #FFF !important;
	}
	#SelfToolbar .navbar-header, #toolbar .navbar-header {
		float:none !important;
	}
	.visible-xs {
		margin-top:80px !important;
	}
}

@media (min-width: 768px) {
	.navbar-nav.navbar-right {
    	margin-right: -15px;
    	margin-top:0px;
	}
	#SelfToolbar .navbar-header, #toolbar .navbar-header {
		float: left !important;
	}
}

#navigation div.visible-xs ul {
	background-color: darkgrey !important;
}

.navbar-header {
	min-height: 100px;
}


#toolbar {
	min-height: 100px;
}
/* Header */

#navigation {
	background-color: #f2f2f2 !important;
	border-top: 12px solid #98ab2a !important;
}

#navigation .row {
	margin-top: 20px !important;
}

/* Buttons */

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
	background-color: #98ab2a !important;
	border-color: #98ab2a !important;
}

.btn-primary {
	background-color: #005E7D !important;
	border-color: #005E7D;
}

.btn.active .caret {
	border-top-color: #98ab2a !important;
}

/* Self content */

#self-content {
	background-color: #f2f2f2 !important;	
	border-bottom: 12px solid #98ab2a !important;
}

/* Footer */

.footContainer {
	background-color: #005E7D !important;
	border-top: 0px !important;
	color: #FFF !important;
	font-size: 16px !important;
}

.footContainer a {
	color: #FFF !important;
}
/*.footContainer a , a:hover{
	color: #FFF !important;
}*/

/* App content */

#app-content a:hover {
	color:#428bca !important;
}

/*Main */

#main .row {
	background-color: #FFF !important;
}

.landing-item{margin:1em 0;padding:1em 0;height:150px;border-radius:6px; font-size:16px; border:1px solid; padding:10px;}

.landing-item:hover{background-color:#f2f2f2}

.landing-item .fa{float:left;padding:.4em;font-size:2.2em;color:#888}

.landing-item h2{color:#222;font-weight:700;font-size:97%}
.landing-item h3{color:#222;font-weight:700;font-size:97%}
.landing-text {display:block;font-size:80%}

.landing-item a:hover{text-decoration:none}

.footContainer a , a:hover{
	/*color: #FFF !important;*/
}

/*#app-content a:hover {
	/*color: #FFF !important;*/
	/*color: #555 !important;
}*/

.footer-links a:hover {
	/*color: #FFF !important;*/
	color: #555 !important;
}

.staticText a:hover {
	/*color: #FFF !important;*/
	color: #555 !important;
}

.visuallyhidden{
	border:0;
	clip:rect(0 0 0 0);
	height:1px;
	margin:-1px;
	overflow:hidden;
	padding:0;
	position:absolute;
	width:1px
}

.govuk-list {
	list-style: none;	
	
}

.govuk-list-landing-item h3 {color:#222;font-weight:700;font-size:97%}
.govuk-list-landing-text {display:block;font-size:80%}
.govuk-list-landing-link a , a:hover{
	text-decoration:underline;
	/*color: #255783 !important;*/
}

/* Hide forms */

a[data-formname="Tell us how we can improve this page"] {display:none; height:0px; width:0px; !important}/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */

